* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Full-Stack-Project/images/photo-1449824913935-59a10b8d2000.webp");
    color: white;
}

header h1 {
    text-align: center;
    background-color: lightgray;
}

.addClient {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 10px;
    background-color: #748b97;
}

.clientList {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #748b97;
}

.clientList div {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
} 