*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../Full-Stack-Project/IMG_3879.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

header {
    margin: 100px;
    color: white;
    text-align: center;
    background-color: darkgrey;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

header h1 {
    border-bottom: 3px solid;
}

.clients {
    /* width: 100%;
    margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clientList {
    margin: 75px;
    width: 400px;
    background-color: #748b97;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.clientList h2 {
    border-bottom: 3px solid;
    text-align: center;
}

.clientList div{
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
} 

.clientList div:hover {
    color: white;
    background-color: darkgrey;
}

.addClient {
    margin: 75px;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #748b97;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    text-align: center;
}

.addClient h3 {
    border-bottom: 3px solid;
    text-align: center;
}

.addClient input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 2px;
}

.submitBtn {
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    padding: 10px;
    border-radius: 2px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.submitBtn:hover {
    font-style: italic;
    color:#748b97;
    background-color: white;
}
