* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Full-Stack-Project/images/photo-1449824913935-59a10b8d2000.webp");
    color: white;
}

header h1 {
    color: white;
    text-align: center;
    background-color: darkgrey;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.clientList {
    margin: 100px;
    background-color: #748b97;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.clientList div {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    /* -webkit-text-stroke: .25px black;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);; */
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
} 

.clientList div:hover {
    color: white;
    background-color: darkgrey;
}

.addClient {
    margin: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #748b97;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.addClient input {
    margin-top: 10px;
    margin-bottom: 10px;
    border:rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 2px;
}

.submitBtn {
    color: white;
    background-color: darkgrey;
    border: 1px solid black;
    padding: 10px;
    border-radius: 2px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.submitBtn:hover {
    font-style: italic;
    color:#748b97;
    background-color: white;
}